xmpp:
 jid: creep@example.com
 resource: creep
 password: secret
 # optional: use server, port when SRV records are not available
 #server: xmpp.example.org
 #port: 5222

http:
 host: 127.0.0.1
 port: 8000
 # optional: shared secret which has to be sent for authentication
 #secret: blaat
