xmpp:
 jid: creep@example.com
 resource: creep
 password: secret
 autojoin: [
  "test@conference.example.com",
  "test2@conference.example.com",
 ]
 # when posting a message using plain/text, relay to this room
 default_room: "test@conference.example.com"
 # optional: use server, port when SRV records are not available
 #server: xmpp.example.org
 #port: 5222

http:
 host: 127.0.0.1
 port: 8000
 # optional: shared secret which has to be sent for authentication
 secret: blaat
 # or... a list of possible secrets, of which one has to be provided
 #secret: [
 # "foo",
 # "bar",
 #]

admins: ['admin@example.com']
