Source: creep
Section: utils
Priority: optional
Maintainer: Pim van den Berg <pim.van.den.berg@mendix.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: creep-client
Architecture: all
Section: utils
Priority: optional
Description: XMPP-based chatbot that's easy to extend
 Originally inspired by gozerbot.
