#!/usr/bin/make -f

build:

clean:
	dh_testdir
	dh_testroot

	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 644 -D examples/usr/local/etc/creep.cfg.example debian/creep-client/usr/local/etc/creep.cfg
	install -m 755 -D examples/usr/local/bin/creep.sh debian/creep-client/usr/local/bin/creep.sh
	install -m 755 -D examples/usr/local/bin/creep_compose.py debian/creep-client/usr/local/bin/creep_compose.py
	install -m 755 -D examples/usr/local/bin/creep_json.sh debian/creep-client/usr/local/bin/creep_json.sh

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary install
